{% extends "base.html" %}

{% block title %}

About

{% endblock %}


{% block content %}
<div class="container my-3 p-3">
<h1><br> About </h1>
<p>City hospital has provided care for patients since it opened in 1889 as the Birmingham Union Infirmary, 
    an extension to the workhouse based on the site. It originally comprised of a single corridor stretching for 
    a quarter of a mile with nine ward blocks on either side along its length, a configuration recommended by Florence
    Nightingale. The infirmary later became the Dudley Road Infirmary, then Dudley Road Hospital and, more recently, City Hospital.

    Today’s hospital provides a very broad array of clinical and support services including:
    
    Accident and Emergency
    Paediatrics (services for children)
    Cardiology (the heart)
    Respiratory (breathing)
    Renal (kidneys)
    Diabetes
    Rheumatology (joint problems)
    Neurology (nerve problems)
   </p>
</div>


{% endblock %}